<%- include("partials/header.ejs") %>

	<style>
		.col {
			margin: 10px 0px 10px 0px;
		}

		a:hover {
			color: blue;
		}


		.rating-color {
			color: #fbc634 !important;
		}
	</style>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Perfil
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Editar Perfil</a>
						<a class="dropdown-item" href="#">Editar Portfólio</a>
						<a class="dropdown-item" href="#">Validar Identidade</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Badges de perfil</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Conta e Pagamentos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Configurações de Acesso</a>
						<a class="dropdown-item" href="#">Configurações de Pagamento</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Histórico de Transações</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Ajuda
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Como funciona?</a>
						<a class="dropdown-item" href="#">Fluxo de Projeto</a>
						<a class="dropdown-item" href="#">Formatação de texto</a>

						<a class="dropdown-item" href="#"></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Suporte</a>
						<a class="dropdown-item" href="#">Blog</a>
					</div>
				</li>

			</ul>
			<form class="form-inline my-2 my-lg-0" action="/jobs" method="get">
				<input class="form-control mr-sm-2" type="search" name="pesquisa" placeholder="Buscar Projetos"
					aria-label="Search">
				<button class="btn " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg></button>
			</form>
		</div>
	</nav>


	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading"> Bem vindo, <%=user.name%>.</h3>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
									<path
										d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
									<path
										d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
								</svg> Ganhos</div>
							<div class="card-body">
								<h5 class="card-title text-white">R$912,92</h5>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-send-dash" viewBox="0 0 16 16">
									<path
										d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z" />
									<path
										d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-5.5 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Z" />
								</svg> Propostas Enviadas</div>
							<div class="card-body">
								<h5 class="card-title text-white">34</h5>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
									<path
										d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z" />
									<path
										d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
								</svg> Propostas Aceitas</div>
							<div class="card-body">
								<h5 class="card-title text-white">15</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col">
						<div class="card">
							<h5 class="card-header">Perfil</h5>
							<div class="card-body">
								<h5 class="card-title"><img src="<%=user.photo%>" alt="..." class="img-thumbnail">
									<%=user.fullName%>
										<img src="/img/badges/<%=user.badges.medal%>.png" width="25" alt="novato" data-toggle="tooltip"
											data-placement="top" title="Freelancer <%=user.badges.medal%>">
										
										<% if(user.badges.verified) { %>
										| <img src="/img/badges/verified.png" width="25" alt="badge verificado"
												data-toggle="tooltip" data-placement="top"
												title="Freelancer Verificado">
											<% } %>
								</h5>
								<p class="card-text">Seja bem vindo ao meu perfilllllll</p>
								<div>
									<div class="card p-3">
										<div class="d-flex justify-content-between align-items-center">
											<div class="ratings">
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star"></i>
											</div>
											<h5 class="review-count">28 avaliações</h5>
										</div>
										<div class="mt-5 d-flex justify-content-between align-items-center">
											<h5 class="review-stat">Comunicação</h5>
											<div class="small-ratings">
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
										<div class="mt-1 d-flex justify-content-between align-items-center">
											<h5 class="review-stat">Profissionalismo</h5>
											<div class="small-ratings">
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
										<div class="mt-1 d-flex justify-content-between align-items-center">
											<h5 class="review-stat">Especialização</h5>
											<div class="small-ratings">
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
										<div class="mt-1 d-flex justify-content-between align-items-center">
											<h5 class="review-stat">Qualidade de Trabalho</h5>
											<div class="small-ratings">
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
												<i class="fa fa-star rating-color"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="w-100" style="margin: 10px 0px 10px 0px;"></div>
					<div class="col">
						<div class="accordion" id="accordionProjetos">
							<div class="card">
								<div class="card-header" id="headingProjetos">
									<h5 class="mb-0">
										<button class="btn" type="button" data-toggle="collapse"
											data-target="#collapseProjetos" aria-expanded="true"
											aria-controls="collapseProjetos">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
												<path
													d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
											</svg> Meus projetos
										</button>
									</h5>
								</div>

								<div id="collapseProjetos" class="collapse show" aria-labelledby="headingProjetos"
									data-parent="#accordionProjetos">
									<div class="card-body">
										<!---->
										<div class="card">
											<div class="card-header">
												Status
												<span class="badge badge-warning">Em andamento</span>
											</div>
											<div class="card-body">
												<h5 class="card-title"><a href="#">Desenvolver um site para
														freelancers</a></h5>
												<p class="card-text">Enviada: 29/05/2022 | Oferta: R$ XXX | Oferta
													Final: R$ XXX | Duração estimada: 1 dia</p>
											</div>
										</div>
										<!---->

										<!---->
										<div class="card">
											<div class="card-header">
												Status
												<span class="badge badge-success">Concluído</span>
											</div>
											<div class="card-body">
												<h5 class="card-title"><a href="#">Desenvolver um site app para loja</a>
												</h5>
												<p class="card-text">Enviada: 17/05/2022 | Oferta: R$ XXX | Oferta
													Final: R$ XXX | Duração estimada: 1 dia</p>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="accordion" id="accordionPropostas">
							<div class="card">
								<div class="card-header" id="headingPropostas">
									<h5 class="mb-0">
										<button class="btn" type="button" data-toggle="collapse"
											data-target="#collapsePropostas" aria-expanded="true"
											aria-controls="collapsePropostas">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
												<path
													d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
											</svg> Minhas Propostas
										</button>
									</h5>
								</div>

								<div id="collapsePropostas" class="collapse show" aria-labelledby="headingPropostas"
									data-parent="#accordionPropostas">
									<div class="card-body">
										<!---->
										<div class="card">
											<div class="card-header">
												Status
												<span class="badge badge-success">Aceito</span>
											</div>
											<div class="card-body">
												<h5 class="card-title"><a href="#">Desenvolver uma logo</a></h5>
												<p class="card-text">Enviada: 29/05/2022 | Oferta: R$ 100,00 | Oferta
													Final: R$ 125,00 | Duração estimada: 1 dia</p>
											</div>
										</div>
										<!---->
										<!---->
										<div class="card">
											<div class="card-header">
												Status
												<span class="badge badge-danger">Recusada</span>
											</div>
											<div class="card-body">
												<h5 class="card-title"><a href="#">Desenvolver um bot</a></h5>
												<p class="card-text">Enviada: 27/05/2022 | Oferta: R$ 300,00 | Oferta
													Final: R$ 370,00 | Duração estimada: 1 dia</p>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-top-border">
				<h3>Portfólio</h3>
				<div class="row gallery-item">
					<!---->
					<div class="col-md-4">
						<a href="https://img.freepik.com/vetores-gratis/modelo-de-folheto-de-venda-de-viagens_52683-46904.jpg?w=2000"
							class="img-pop-up">
							<div class="single-gallery-image"
								style="background: url(https://img.freepik.com/vetores-gratis/modelo-de-folheto-de-venda-de-viagens_52683-46904.jpg?w=2000);">
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="https://img.freepik.com/psd-gratuitas/modelo-de-banner-horizontal-para-loja-techno_23-2148979527.jpg?w=2000"
							class="img-pop-up">
							<div class="single-gallery-image"
								style="background: url(https://img.freepik.com/psd-gratuitas/modelo-de-banner-horizontal-para-loja-techno_23-2148979527.jpg?w=2000);">
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="https://www.creativefabrica.com/wp-content/uploads/2021/04/12/Youtube-Banner-Art-Template-Graphics-10688323-1.png"
							class="img-pop-up">
							<div class="single-gallery-image"
								style="background: url(https://www.creativefabrica.com/wp-content/uploads/2021/04/12/Youtube-Banner-Art-Template-Graphics-10688323-1.png);">
							</div>
						</a>
					</div>
					<!---->
				</div>
			</div>
	</section>

	<%- include("partials/footer.ejs") %>