<%- include("partials/header.ejs") %>

    <main>   
    <%- include("components/slider.ejs") %>
    <%- include("components/ourServices.ejs") %>
    <%- include("components/onlineCV.ejs") %>
    <%- include("components/featuredJobs.ejs") %>
    <%- include("components/howToApply.ejs") %>
    <%- include("components/testimonial.ejs") %>
    <%- include("components/companyDesc.ejs") %>
    <%- include("components/ourBlog.ejs") %>
    </main>

<%- include("partials/footer.ejs") %>