<%- include("partials/header.ejs") %>

    <main>
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>
                                    <%= job.title %>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-7 col-lg-8">
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img width="70" height="70" src="<%=job.author.logoURL%>" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>
                                            <%= job.title %>
                                        </h4>
                                    </a>
                                    <ul>
                                        <li>
                                            <%=job.author.name%>
                                        </li>
                                        <li><i class="fas fa-map-marker-alt"></i>
                                            <%= job.location %>
                                        </li>
                                        <li>
                                            <%= job.priceOffer %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <div class="small-section-tittle">
                                    <h4>Descrição do Job</h4>
                                </div>
                                <p>
                                    <%= job.description %>
                                </p>
                            </div>
                            <div class="post-details2  mb-50">
                                <div class="small-section-tittle">
                                    <h4>Requisitos de Conhecimento, Skills e Habilidades</h4>
                                </div>
                                <ul>
                                    <% job.requiredForApply.skills.forEach((item, i)=> { %>
                                        <li>
                                            <%=item%>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                <div class="small-section-tittle">
                                    <h4>Educação ou Experiência</h4>
                                </div>
                                <ul>
                                    <% job.requiredForApply.education.forEach((item, i)=> { %>
                                        <li>
                                            <%=item%>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <div class="small-section-tittle">
                                <h4>Informações</h4>
                            </div>
                            <ul>
                                <li>Data de Postagem:
                                    <span>
                                        <script>
                                            document.write(moment("<%=job.postedDate%>").format('L'));
                                        </script>
                                    </span>
                                </li>
                                <li>Localização: <span>
                                        <%= job.location %>
                                    </span></li>
                                <li>Vagas: <span>
                                        <%= job.vacancy %>
                                    </span></li>
                                <li>Tipo: <span>
                                        <%= job.jobNature %>
                                    </span></li>
                                <li>Oferta: <span>
                                        <%= job.priceOffer %>
                                    </span></li>
                            </ul>
                            <div class="apply-btn2">
                                <a href="#" style="width: 100%;" class="btn">Candidatar-se</a>
                            </div>
                        </div>
                        <div class="post-details4  mb-50">
                            <div class="small-section-tittle">
                                <h4>Informações da Empresa</h4>
                            </div>
                            <span>
                                <%=job.author.name%>
                            </span>
                            <p>
                                <%=job.author.about%>
                            </p>
                            <ul>
                                <% if(job.agency) { %>
                                    <li>Nome Fantasia: <span>
                                            <%=job.author.name%>
                                        </span></li>
                                    <% } else { %>
                                        <li>Nome: <span>
                                                <%=job.author.name%>
                                            </span></li>
                                        <% } %>
                                            <li>Website: <span>
                                                    <%=job.author.website%>
                                                </span></li>
                                            <li>E-mail: <span>
                                                    <%=job.author.email%>
                                                </span></li>
                                            <% if(job.agency) { %>
                                                <li>CNPJ: <span>
                                                        <%=job.author.cnpj%>
                                                    </span></li>
                                                <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>